@font-face {
    font-family: 'PoppinsBlack';
    src: url('../fonts/Poppins-Black.otf') format('opentype');
}
@font-face {
    font-family: 'PoppinsBold';
    src: url('../fonts/Poppins-Bold.otf') format('opentype');
}
@font-face {
    font-family: 'PoppinsMedium';
    src: url('../fonts/Poppins-Medium.otf') format('opentype');
}
@font-face {
    font-family: 'PromptRegular';
    src: url('../fonts/Prompt-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'PoppinsRegular';
    src: url('../fonts/Poppins-Regular.ttf') format('truetype');
}

/* Global */
body {
    font-family: Figtree, sans-serif;
    letter-spacing: 0.005em;
    margin: 0;
}

h1 {
    font-size: 21px;
    font-weight: 500;
    /* line-height: 20px; */
    text-align: left;
    color: #6A706E;
}

h2 {
    font-size: 19px;
    font-weight: 500;
    line-height: 23px;
    color: #6A706E;
    margin-top: 0;
    padding-top: 0;
}

h1,h2,h3,h4,h5,h6 {
    font-family:PoppinsBold;
    color:#DC4C39;
}

hr {
    color: #797979;
}

fieldset {
    border: 0;
    padding: 0 0.75rem;
}

.wrapper {
    background: white;
    padding: 1em;
    clear: both;
    /* border-radius: 12px; */
    /* border: 1px solid #D4E1DD; */
    text-align: left;
    overflow: hidden;
    max-width:1200px;
    margin: 1em auto;
}

.header {
    clear: both;
    background: white;
    /* border-bottom: 1px solid #D4E1DD; */
    padding: 0 2em;
}
.logo {
    width: 250px;
}
.header .menu {
    float: right;
}
.banner {
    margin-bottom: 1em;
    clear: both;
    overflow: auto;
    background:#CC8485;
    padding: 0 2em;
    display:flex;
    justify-content: left;
    align-items: center;
}
    .banner .icon {
        margin-right:10px;
        float:left;
    }
    .banner .text {
        float:left;
    }
    .banner p {
        color:#000;
        font-family:PoppinsRegular;
        font-size:16px;
        line-height:18px;
    }

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    clear: both;
    /* width: 25em; */
}

.menu li {
    display: inline-block;
    padding: 0.2em;
    background: #CC8485;
    border-radius: 5px;
    margin: 1em;
}
#mainMenu {
    clear: right;
    margin-top: 25px;
}

.menu a {
    text-decoration: none;
}

.headerButton {
    display: inline-block;
    padding: 0.8em 2em;
    background: #DC4C39;
    color: white;
    margin-right: 2em;
    position: relative;
    top: -1em;
    border-radius: 6px;
    text-align: center;
}


@media screen and (max-width: 550px) {
    .headerButton {
        display: block;
        position: inherit;
        margin: 0 0 0.2em 0;
    }
}
/* HOME */
.infobanner_gob {
    background: #dae9f8  right center no-repeat;
    background-image: url("../img/homeillustration1.png");
    background-size: contain;
    text-align: center;
    padding: 2em;
    height: 286px;
    border:solid 1px #AE7171;
    box-sizing:border-box;
    display:flex;
    align-items: center;
    margin-bottom: 2em;
}
.infobanner_info {
    width:640px;
}

.infobanner_gob h1 {
    text-align: left;
    font-size: 2em;
    text-shadow: #fff 1px 1px 3px;
}

.hometext {
    padding:2em 4em;
    text-align:center;
}
    .hometext p {
        font-family:PoppinsRegular;
        font-size:18px;
        color:#AE7171;
    }

.cardbox {
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
}

.estadisticas,
.cardFull,
.card {
    padding: 1%;
    border:solid 1px #c0c0c0;
    box-sizing: border-box;
    min-height: 12em;
    margin-bottom:10px;
}
    .card .icon {
        width:100%;
        text-align:center;
    }
    .cardTitle {
        font-family:PoppinsBold;
        color:#AE7171;
        text-align:center;
        font-size:25px;
        margin:25px 0;
    }
    .card p {
        color:#AE7171;
        font-family:PoppinsRegular;
        font-size:16px;
        line-height:18px;
        text-align:center;
    }
    .cardFull input,
    .card input {
        width:100%;
        height:40px;
        box-sizing:border-box;
        padding:5px 10px;
        font-size:20px;
        color:#000;
        border:solid 1px #c0c0c0;
    }

    .cardFull input {
        width: 50%;
        height:35px;
        box-sizing:border-box;
        margin-right: 2px;
        margin-left: 50px;
        padding:10px 4px 13px 10px;
        font-size:20px;
        color:#000;
        border:solid 1px #c0c0c0;
    }


@media screen and (min-width: 800px) {
    
    .card {
        width: 31%;
        float: left;
        margin: 1% 0;
    }

    .cardFull {
        width: 100%;
    }

}

.card form {
    width: 100%;
}

.detailsButton,
.cardFull .actionButton,
.card .actionButton {
    border:none;
    padding:6px 15px;
    text-align: center;
    background:#DC4C39;
    font-family:PoppinsMedium;
    font-size:16px;
    color:#fff;
    text-align:center;
    border-radius: 5px;
    text-decoration: none;
}

.estadisticas {
    margin-top:50px;
    clear: both;
    font-family:PoppinsMedium;
    color:#DC4C39;
}
    .estadisticas .statWrapper {
        display:flex;
        justify-content:space-evenly;
        flex-wrap:wrap;
        margin-bottom:25px;
    }
        .estadisticas .stat {
            border-right: solid 1px #797979;
            width:33%;
        }
            .estadisticas .stat:last-child { border:none }
            .estadisticas .stat .statNumber {
                text-align:center;
                width:100%;
                font-family:PoppinsBold;
                font-size:50px;
            }
            .estadisticas .stat .statText {
                text-align:center;
                width:100%;
                font-size:20px;
            }
    .estadisticas .bottomStat {
        font-family:PoppinsRegular;
        text-align:center;
        font-size:16px;
    }

.manifiesto, .firmas { display:none; }

/* Resultados */
.buscador {
    background: #C0C0C0;
    padding: 0.5em 1em;
    margin: 1em 2em 1em 1em;
    border-radius: 6px;
    font-family:PoppinsMedium;
    
}

.buscador select,
.buscador input {
    width: 20em;
}

.buscador button,
.buscador input,
.buscador select {
    margin: 1em 0.5em;

    height:40px;
    box-sizing:border-box;
    padding:5px 10px;
    font-size:20px;
    color:#000;
    border:solid 1px #797979;

}

.buscador button {
    border:none;
    padding:6px 15px;
    text-align: center;
    background:#DC4C39;
    font-family:PoppinsMedium;
    font-size:16px;
    color:#fff;
    text-align:center;
}

.resultados {
    padding:1em 2em;
    display:flex;
    flex-direction:column;
    justify-content:center;
}
    .resultados p {
        font-family:PoppinsMedium;
        font-size:20px;
        text-align:center;
        line-height:36px;
    }


.results {
    font-family:PoppinsRegular;
    padding:1em 2em;
}
.pageTitle {
    font-family:PoppinsRegular;
    padding:0 2em;
}

.contracts,.supplier,.buyer {
    font-family:PoppinsRegular;
    padding:1em 2em;
}
    .contracts p.fecha {
        font-size:18px;
    }

@media screen and (max-width: 800px) {

    .buscador select,
    .buscador input {
        width: 100%;
    }    
    .rfc {
        display: inline-block;
    }
}

/* ITEM */

.fieldset {
    display: block;
}

.fieldset.fielset_main {
    background: none;
}

.fieldsetgroup {
    display: block;
    margin-bottom: 2em;
    border: 1px solid #C0C0C0;
    padding: 1em 1em 0 1em;
    border-radius: 5px;
}



.fieldsetgroup.titulo {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
}

.field {
    display: inline-block;
    margin-bottom: 1em;
    line-height: 2em
}
@media screen and (max-width: 750px) {
    .field {
        display: block;
        line-height: 1.3em;
        margin-bottom: 0.3em;
    }
}

.fieldTitle {
    font-size: 12px;
    font-weight: normal;
    color: #797979;
}

.fieldValue {
    font-size: 14px;
    color: #000;
    background: #C0C0C0;
    display: inline-block;
    padding: 0 0.5em;
    border-radius: 5px;
    font-weight: normal;
    margin: 0 1.2em 0 0.3em;
    line-height: 24px;
}


.field_main {
    display: block;
    border-bottom: 1px solid #C0C0C0;
}

.field_main .fieldTitle {
    display: block;
    font-size: 13px;
    margin-bottom: 1em;
    position: relative;
    font-weight: bold;
    color: #000;
}

.field_main .fieldValue {
    font-size: 1.2em;
    background: none;
    padding: 0;
    margin: 0;
}


.actionBar {
    float: right;
    border: 1px solid #000;
    background-color: #AE7171;
    border-radius: 10px;
    padding: 1em;
    margin-left: 2em;
}

.actionBar img,
.actionBar a,
.actionBar h2 {
    color: white;
    text-decoration: none;
    vertical-align: middle;
    display: inline-block;
    padding: 2px;
}

.actionBar ul,
.actionBar li {
    list-style: none;
    padding: 0;
    margin: 0;
}

@media screen and (max-width: 800px) {
    .actionBar {
        float: none;
    }
}

.itemContents {
    display: flow-root;
}


table {
    font-size: 14px;
    width: 100%;
    margin: 20px 0 30px 0;
    border-spacing: 0;
}

table tr.field:nth-child(even) {
    background: #e6eff6;
}

table td.fieldTitle {
    padding: 5px;
    width: 25%;
}

table td.fieldValue {
    font-weight: bolder;
    color: #2B2B2B;
    padding: 5px;
    width: 75%;
}

hr {
    border-top: solid 2px #e6eff6;
}

.fieldValue em {
    background-color: yellow;
}

/* RESULTS */


.result em {
    background: #ffffaa;
}

.page {
    display: inline-block;
    color: black;
    padding: 0.5em;
    text-decoration: none;
    margin: 0.5em;
    opacity: 0.7;
    background: #fff;
    border: 2px solid #797979;
}

.page:active,
.page:hover {
    box-shadow: 5px 5px 5px #c0c0c0;

    opacity: 1;
}
.page:visited {
    background: #c0c0c0;
    border: 2px solid #c0c0c0;
}

.page.current {
    background: #DC4C39;
    border: 2px solid #797979;
    opacity: 1;
    color: white
}

/* FOOTER */
.contact {
    text-align:center;
    font-family:PoppinsMedium;
    font-size:18px;
    margin-top:25px;
}

.footer {
    margin-top:30px;
    clear: both;
    background:#797979;
    min-height:80px;
    padding-bottom: 2em;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-wrap:wrap;

}
    .footersocial {}
    .footertext {}
    .footerlogo a {
        vertical-align: middle;
        display: inline-block;
        margin: 1em;
    }

.footer2 {
    margin-top: 0;
}

.footer p {
    font-family:PoppinsMedium;
    font-size:16px;
    max-width: 50em;
    text-align: center;
    color: #FFF;
}
    .footer a {
        text-decoration:none;
        color:#E6AA3A;
        font-weight:bold;
    }
    .twitter {
        width: 40px;
        margin:20px;
    }


@media screen and (max-width: 970px) {
    .banner { padding: 0 0.5em }
    .infobanner_gob {
        background-position: center top;
        /* background: #cccacb url("../img/homeillustration.png") center top no-repeat;
        background-size: contain; */
        height: auto;
        padding-top: 250px;
    }
    .infobanner_info {
        width: auto;
    }
    #mainMenuHandle {
        line-height: 40px;
        font-size: 11px;
        text-align: center;
    }
    #mainMenuHandle.open {
        opacity: 0.5;
        transition: opacity 0.5s ease-in-out;
    }
    #mainMenu { 
        position: absolute;
        right: 0;
        width: 200px;
        background-color: #c0c0d0;
        margin-top: -20px;
        text-align: center;
    }
    .headerButton {
        position: static;
        margin: 1em;
    }
    .hometext { padding: 0 }
    .estadisticas .stat {
        width:100%;
        box-sizing:border-box;
        border-right:none;
        border-bottom:solid 1px #c0c0d0;
        margin:20px 20px 0 20px;
        padding-bottom:20px;
    }
        .estadisticas .stat:last-child { border-bottom:none }
    .twitter { margin:10px }
    .footer p { margin:0 }
    .footerlogo { margin:10px }
}
@media screen and (max-width: 600px) {
    .logo {
        width: 150px;
        margin-top: 15px;
    }
}


/* ABUT */
dl {
    margin-top: 1em;
    padding: 1em;
    background-color: #eee;
}

dt {
    font-weight: bold;
    margin-bottom: 0.3em;
    color: #AE7171;
    font-size: 1.2em;
}

dd {
    margin-bottom: 1.5em;
    margin-left: 0;
    padding-bottom: 1.5em;
    border-bottom: 1px solid #797979;
}


