include head.pug
+head("Ojo a las sanciones - Acerca de")

div.wrapper
    h1 Acerca de Ojo a las sanciones
    p Ojo a las sanciones busca mejorar la identificación y visibilidad de las empresas sancionadas, inhabilitadas y/o EFOS para abonar a la transparencia y reducir riesgos en la elección de proveedores en la contratación pública en México. 
    p El mecanismo crea una base de datos nacional, unificada, sobre actores sancionados y suspendidos, así como de registros tributarios sobre empresas irregulares que se alimenta de información de la Secretaría de la Función Pública (SFP) y del Servicio de Administración Tributaria (SAT). 
    p Además, identifica si la empresa que se busca está en las listas de la 
        a(href="https://ofac.treasury.gov/") OFAC
        |  del Departamento del Tesoro de Estados Unidos de América.
    p La información recopilada puede ser utilizada tanto por personas públicas como privadas, como una herramienta de prevención de riesgos para conocer a la empresa con la que se desea celebrar un contrato.
    p Ojo a las Sanciones es un proyecto del colectivo 
        a(href="https://bit.ly/38AB3Zl") +integridad
        |  y uno de los ganadores del 
        a(href="https://hackcorruption.org/") “HackCorruption 2023”
        |  realizado en Colombia, por lo que se recibió apoyo y  un fondo semilla de 
        a(href="https://accountabilitylab.org/") Accountability Lab
        | , 
        a(href="https://developmentgateway.org/") Development Gateway
        | , CIPE, USAID y otros actores ocupados en el combate a la corrupción en diferentes países.
    p Aprovechando la experiencia y profesionalismo del equipo de 
        a(href="https://abrimos.info/") Abrimos.info
        | , realizamos una alianza estratégica para poder desarrollar e implementar la plataforma.
    p Buscamos complementar la plataforma mediante la inclusión de información con bases de datos públicas a nivel federal y estatal, además de otras listas a nivel internacional, por lo que nos encontramos en búsqueda permanente de financiamiento. Se pueden realizar 
        a(href="https://donate.stripe.com/00g6pH9nn5OpgkU3cd?locale=es&__embed_source=buy_btn_1Of4oUJ92zWRXSIZuaZeWXx2") donativos aquí
        |  para contribuir a nuestro proyecto.

    h1 Contacto

    p Para cualquier duda o comentario pueden escribirnos a ojosancionesmx@gmail.com y trataremos de responder a la brevedad posible.

    h2 Redes sociales:
    p Twitter: 
        a(href="https://twitter.com/Ojosancionesmx") @Ojosancionesmx


    h2 Preguntas frecuentes
    p A continuación se muestran respuestas a algunas preguntas frecuentes que pueden ser de ayuda a los usuarios.

    p ¿Ojo a las sanciones es un servicio gratuito?
    p R: Sí, es completamente gratuito, no existen limitaciones al respecto del número de consultas que se pueden realizar.

    p ¿Quién financia el proyecto Ojo a las sanciones?
    p R: Ojo a las sanciones nace gracias al premio otorgado en el hackaton HackCorruption organizado por Accountability Lab, Development Gateway, CIPE, USAID y otros actores ocupados en el combate a la corrupción en diferentes países. Sin embargo seguimos en búsqueda de financiamiento para hacer crecer el proyecto e incluir más fuentes de información, tanto nacionales como extranjeras.

    p ¿Quién creó Ojo a las sanciones?
    p R: Es una creación del equipo de +integridad pero se materializa y mantiene gracias a la alianza estratégica con el equipo de Abrimos.info.

    p ¿Qué significa que mi empresa salga listada como resultado de una búsqueda?
    p R: Significa que bien bajo el marco legal mexicano ha sido listada como una empresa irregular dentro de las listas del SAT o de la SFP, o bien, que aparece en algunas de las listas OFAC del Departamento del Tesoro de EUA bajo sus estándares y leyes aplicables en aquél país.

+footer()