mixin head(title)
    doctype html
    html(lang="es")
        head
            meta(charset="UTF-8")
            meta(name="viewport", content="width=device-width, initial-scale=1.0")
            link(rel="stylesheet", href="/static/css/main.css")
            link(rel="shortcut icon", href="/static/img/favicon-96.png", type="image/x-icon")
            title #{title}

            script(async,src="https://www.googletagmanager.com/gtag/js?id=G-")
            script
                | window.dataLayer = window.dataLayer || [];
                | function gtag(){dataLayer.push(arguments);}
                | gtag('js', new Date());

                | gtag('config', 'G-');

        body
            div.header
                a(href="/")
                    img(src="/static/img/ojosanciones-logo.png", alt="Ojo a las sanciones - sociedad.info").logo
                div.menu#mainMenu
                    a.headerButton(href=baseurl+"buscador") Búsqueda
                    a.headerButton(href=baseurl+"acerca-de") Acerca de
                    a.headerButton(href="https://donate.stripe.com/00g6pH9nn5OpgkU3cd", target="_blank") Donar
                div.menu#mainMenuHandle
                    a.headerButton MENÚ
            div.banner
                div.icon
                    img(src="/static/img/warning.png", width="40")
                div.text
                    p IMPORTANTE: Esta es una web en proceso de desarollo para Ojo a las sanciones
            script 
                | function checkWidth() {
                |    if (window.innerWidth < 970) { 
                |       document.getElementById("mainMenu").style.display = "none"; 
                |       document.getElementById("mainMenuHandle").style.display = "block"; 
                |   } 
                |   else {
                |       document.getElementById("mainMenu").style.display = "block"; 
                |       document.getElementById("mainMenuHandle").style.display = "none"; 
                |   }
                | }
                | function showMenu() {
                |       document.getElementById("mainMenu").style.display = "block"; 
                |       document.getElementById("mainMenuHandle").style.display = "none"; 
                | }
                | function hideMenu() {
                |       document.getElementById("mainMenu").style.display = "none"; 
                |       document.getElementById("mainMenuHandle").style.display = "block"; 
                | }
                | function toggleMenu() {
                |       document.getElementById("mainMenu").style.display = (document.getElementById("mainMenu").style.display == "none" ? "block" : "none"); 
                |       document.getElementById("mainMenuHandle").classList.toggle("open")
                | }
                | window.addEventListener("resize",checkWidth);
                | checkWidth();
                | document.getElementById("mainMenuHandle").addEventListener("click",toggleMenu);

mixin footer()
    div.contact
        p Contacto:&nbsp;
            a(href="mailto:ojosancionesmx@gmail.com") ojosancionesmx@gmail.com
    div.footer
        div.footersocial
            a(href="https://twitter.com/ojosancionesmx", target="_blank")
                img(src="/static/img/twitter.png").twitter
        div.footerlogo
            p Ojo a las sanciones es un proyecto creado por
                a(href="https://bit.ly/38AB3Zl")
                    img(src="/static/img/+integridad.png" height="50")
                | y
                a(href="https://abrimos.info/")
                    img(src="/static/img/logo_abrimos.png" height="75")
